html,body {
  padding: 0;
  margin: 10px;
  background-color: rgb(0, 22, 40);
  color: rgb(114, 224, 209);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
  font-size: 1.3rem;
}

table {
  margin-top: 10px;
  font-size: .8rem;
}

tr td:nth-child(1) {
  color: rgb(114, 224, 209);
}

tr td:nth-child(1)::after {
  content: ':'
}

tr td:nth-child(2) {
  color: rgb(245, 214, 123);
}

button {
  margin-top: 30px;
  padding: 12px 24px;

  border: rgb(0, 22, 40) 1px solid;
  box-shadow: 0 1px 4px rgba(0, 22, 40, .6);
  
  background-color: rgb(114, 224, 209);
  color: rgb(0, 22, 40);

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  transition: background-color .3s;

  cursor: pointer;
}

button:hover {
  color: rgb(114, 224, 209);
  border: rgb(114, 224, 209) 1px solid;
  background-color: rgb(0, 22, 40);
}